@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color: #3E3E3E !important;
    --main-font: 16px;
    --lineHight: 24px;
    --font-w: 500;
    --font-ww: 600;
    --text-color: #0A0826;
}

.main-color {
    color: var(--text-color);
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-link.nav-c {
    color: var(--color) !important;
    font-size: var(--main-font);
    line-height: var(--lineHight);
    font-weight: var(--font-w);
    padding: px 0;
}

/* slider  */

.btn-1 {
    padding: 10px 44px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #3F87F5;
    font-weight: var(--font-ww);
}

.btn-1 a {
    text-decoration: none;
}

.section-text {
    color: #6C6C6C;
    font-weight: 600;
}

.btn-2 {
    background: #3F87F5;
    padding: 10px 24px;
    font-weight: 700;
    color: #ffffff;
}

.package-text {
    font-weight: 600 !important;
}

/* our pack  */
.card {
    border: none;
}

.col-card {
    top: -42px;
    position: relative;
}

.extra-card {
    background: #3F87F5 !important;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
}

.bg-b {
    background: #ff4e4e;
    color: #ffffff;
    border-radius: 13.5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    position: absolute;
    top: -13px;
    right: 30px;
}

.extra-card h1,
.extra-card h3,
.extra-card p,
.extra-card ul,
.extra-card li {
    color: #fff;
}

.pack-d {
    color: #848199;
}

.btn-3 {
    color: #3F87F5;
    background: #fef5fa;
    border-radius: 24px;
    padding: 13px 62px;
    margin-top: 20px;
    font-weight: 600;
}

/* happy clients  */
.card-clinet {
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 25px;
}

.card-h-text {
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
}

.client-body {
    padding: 0;
}

.client-body img {
    max-width: 100px;
}

.client-body h4 {
    font-size: 14px;
    color: #0C1920;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 0.2px;
}

.client-body p {
    color: #747474;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 600;
    margin-bottom: 0;
}

/* faq  */
.accordion-body {
    border: 1px solid #D5E5FB;
    box-sizing: border-box;
    border-radius: 5px;
}

.accordion-button:focus {
    background: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);

}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

/* footer  */
footer {
    background: #0b0d17;
}

.footer-text,
.footer-download h4 {
    color: #D9DBE1;
}

/* responsive mobile */
@media (max-width: 710px) {
    h2.h1.slider-h {
        font-size: 24px;
    }

    .btn.btn-1 {
        padding: 2px 20px;
        font-size: 12px;
    }

    .slider-text {
        font-size: 14px;
    }
}

@media (max-width: 649px) {
    h2.h1.slider-h {
        font-size: 18px;
    }

    .btn.btn-1 {
        padding: 2px 20px;
        font-size: 12px;
    }

    .slider-text {
        font-size: 10px;
    }
}

@media (max-width: 570px) {
    .silder-m {
        position: relative;
    }

    .silder-m-2 {
        position: absolute;
        top: 0%;
        left: 16%;
    }
}

@media (max-width: 542px) {
    h2.h1.slider-h {
        font-size: 13px;
    }

    .slider-text {
        font-size: 7px;
    }

    .btn.btn-1 {
        padding: 2px 15px;
        font-size: 4px;
        margin-top: -30px;
    }
}

@media (max-width: 420px) {
    .silder-m-2 {
        position: absolute;
        top: -17%;
        left: 16%;
    }
}

@media (max-width: 364px) {
    .silder-m-2 {
        position: absolute;
        top: -24%;
        left: 16%;
    }
}

@media (max-width: 322px) {
    .silder-m-2 {
        position: absolute;
        top: -33%;
        left: 16%;
    }
}